.custom-button-style {
    /* Macht das Element zu einer Box, die Breite und Höhe akzeptiert */
    display: flex;

    /* Deine Wunsch-Größe (erzwingen) */
    width: 8rem;
    height: 3rem;

    background-color: transparent;

    /* Text-Farbe und Unterstrich entfernen */
    color: white;
    text-decoration: none;


    /* Damit es beim Hovern weich einfadet */
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;


    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    /* Optional: abgerundete Ecken */
}


/* Der Hover-Effekt, damit sich beim Drüberfahren auch was tut */
.custom-button-style:hover {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.7);

}



.btn-hover-red:hover {
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.6) !important;

}

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}